[submodule "apps/BCTrack"]
	path = apps/BCTrack
	url = https://github.com/spark97/BCTrack
[submodule "apps/RCTrack"]
	path = apps/RCTrack
	url = https://github.com/spark97/RCTrack
[submodule "apps/apps/BCTrack"]
	path = apps/apps/BCTrack
	url = https://github.com/spark97/AlexaServer
